$color-bg-surface: #ffffff;
$color-text-main: #181a1f;
$color-text-second: #85888e;

$color-border-light: #e2e2e4;

$color-badge-blue-bg: #aad7fb;
$color-badge-blue-text: #0e2a45;

$color-badge-gray-bg: #e2e2e4;
$color-badge-gray-text: #000000;

$color-badge-yellow-bg: #fddeaa;
$color-badge-yellow-text: #4F3709;

$skeleton-1: #ebebeb;
$skeleton-2: #d6d6d6;


$font-primary: "TT Fellows", sans-serif;
$font-secondary: "PT Sans", sans-serif;

$font-size-xxs: 10.5px;
$font-size-xs: 12.25px;
$font-size-sm: 14px;
$font-size-md: 15.75px;
$font-size-lg: 21px;

$line-height-sm: 21px;
$line-height-md: 23.6px;

$space-xxxs: 3.5px;
$space-xxs: 4px;
$space-xs: 7px;
$space-sm: 14px;
$space-md: 21px;


$border-radius-sm: 7px;
$border-radius-md: 11px;
$border-radius-lg: 14px;
$border-radius-circle: 50%;

$breakpoint-md: 589px;